.question-container{
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  bottom: 0;
}

.question-form-container{
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 150px);
}

.question-title{
  font-size: 32px;
  margin: 15px 0;
}

.question-form{
  display: flex;
  flex-direction: column;
  margin: 60px 0 40px;
}

.question-word{
  font-family: 'Roboto';
  margin-top: 20px;
  text-transform: capitalize;
  font-style: italic;
  font-size: 28px;
}

.question-form-label{
  color: #000000;
}

.question-form-label:hover{
  cursor: pointer;
}

.question-input{
  width: 100%;
  margin: 20px 0 70px;
  padding: 10px 10px 5px;
  font-family: 'Montserrat', sans-serif;
  border: 3px solid #000;
  outline: none;
  display: block;
  font-size: 30px;
  color: #000000;
}

.question-input:hover, .question-input:focus{
  border: 3px solid #058E6E;
}

.question-footer{
  border-top: 4px solid #AA151B;
  background-color: #AA151B;
  min-height: 150px;
  display: flex; 
  justify-content: center; 
}

.question-footer-subcontainer{
  max-width: 1000px;
  margin: 0 auto; 
  text-align: center; 
}

.question-total-score{
  font-weight: 900; 
  font-size: 24px; 
  margin-bottom: 0px;
  color: #FFF
}

.question-score{
  color: #FFF;
  margin: 5px; 
}

@media only screen and (max-width: 760px) {
  .question-title{
    font-size: 28px;
  }

  .question-word{
    font-size: 20px;
  }

  .question-form{
    margin: 50px 0 40px;
  }
  
  .question-total-score{
    font-size: 20px;
  }

  .question-score{
    font-size: 14px;
  }

  .question-input{
    font-size: 24px;
  }
}

@media only screen and (max-width: 760px), (max-height: 700px){
  .question-container{
    position: static;
  }

  .question-form-container{
    padding: 0 20px;
  }
}