* {
  text-align: center;
}

.registration {
  border: 2px dotted navy;
  position: relative;
  margin: auto;
  width: 50%;
  text-align: center;
}

.haveAnAccount:link,
.haveAnAccount:visited {
  color: navy;
}
