* {
  text-align: center;
}

.registration {
  border: 2px dotted navy;
  position: relative;
  margin: auto;
  width: 50%;
  text-align: center;
}

.haveAnAccount:link,
.haveAnAccount:visited {
  color: navy;
}

.name,
.chooseUserName,
.choosePassword,
footer,
label,
span,
.haveAnAccount {
  background: rgb(248, 226, 226);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
