* {
  text-align: center;
}

.registration {
  border: 2px dotted navy;
  position: relative;
  margin: auto;
  width: 50%;
  text-align: center;
}

.haveAnAccount {
  font-size: 16px;
}


.haveAnAccount:link,
.haveAnAccount:visited {
  color: navy;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}