.dashboard-container {
  max-width: 1000px;
}

.dashboard-flag {
  width: 50px;
  display: inline-block;
  margin-right: 10px;
  padding: 1px;
}

.dashboard-language-title {
  display: inline-block;
  font-family: 'Pacifico', cursive;
  font-weight: bolder;
  font-size: 52px;
  margin: 5px 0;
}

.dashboard-header {
  border-bottom: 4px solid #AA151B;
  margin-bottom: 40px;
  text-align: center;
}

.dashboard-flex {
  display: flex;
  flex-direction: row-reverse;
}

.dashboard-wordslist-container,
.dashboard-stats {
  margin: 0 10px;
}

.dashboard-stats {
  padding: 10px 30px 30px;
  border-radius: 25px;
  border: 3px solid #AA151B;
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

.dashboard-stats p span {
  display: block;
  margin-top: 10px;
  font-size: 20px;
}

.dashboard-wordslist-container {
  width: 100%;
}

.dashboard-wordslist-title {
  font-size: 34px;
  margin: 10px 0;
}

.dashboard-practice-button {
  display: block;
  width: 100%;
}

.dashboard-wordslist {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

.dashboard-wordslist-word {
  position: relative;
  padding: 20px;
}

.word-completed:before {
  content: "";
  border-left: 4px solid #058E6E;
  border-radius: 10px;
  height: 60%;
  width: 0;
  position: absolute;
  right: 100%;
}

.dashboard-wordslist-word:not(:first-child):after {
  content: "";
  border-top: 3px solid #AA151B;
  width: 90%;
  height: 0;
  left: 5%;
  top: 0;
  position: absolute;
}

.dashboard-wordslist-word h4 {
  font-size: 20px;
  margin: 0;
  text-transform: capitalize;
}

.dashboard-wordslist-word span {
  display: block;
  color: #000000;
  font-size: 14px;
  text-transform: capitalize;
}

.dashboard-wordslist-word {
  margin: 0;
}

@media only screen and (max-width: 760px) {
  .dashboard-flex {
    flex-direction: column;
  }

  .dashboard-stats {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .dashboard-wordslist-container {
    margin: 0;
  }
}
