.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  background: rgb(248, 226, 226);
  border: 25px solid rgb(248, 226, 226);
}

.spacedRepetition {
  color: rgb(147, 215, 238);
  border-width: 100%;
  border: 3px double blue;
  margin: 20px;
  padding: 15px;
  background: white;
}

.login,
.register,
.logout {
  margin: 5px;
  border: 1px solid navy;
  padding: 10px;
  color: white;
  background: lightblue;
  border-radius: 10%;
  font-weight: bold;
}

.userName {
  background: none;
  color: navy;
  font-size: 20px;
}

nav {
  margin: 50px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .spacedRepetition {
    font-size: 10pt;
    color: rgb(147, 215, 238);
    border-width: 100%;
    border: 3px double blue;
    margin: 20px;
    padding: 5px;
    background: white;
  }

  nav {
    margin: 50px;
  }

  .login,
  .register,
  .logout {
    margin: auto;
    border: 1px solid navy;
    padding: 10px;
    color: white;
    background: lightblue;
    border-radius: 10%;
    font-weight: bold;
    float: none;
  }
}
