.main-header {
  background-color: #aa151b;
  margin-bottom: 50px;
  padding: 10px;
}

.header-navigation {
  display: inline-block;
}

.login-link,
.register-link,
.logout-link,
.header-username {
  font-family: "Montserrat";
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  height: 100px;
}

.header-username {
  font-size: 18px;
}

.login-link,
.register-link,
.logout-link {
  font-size: 18px;
}

.login-link:hover,
.register-link:hover,
.logout-link:hover,
.login-link:focus,
.register-link:focus,
.logout-link:focus {
  border-bottom: 2px solid #fff;
}

.header-container {
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title-link {
  color: #f1bf00;
  font-family: "Flamenco", cursive;
  text-decoration: none;
  font-size: 34px;
  text-align: left;
}

.header-title {
  margin: 0;
  display: inline-block;
}

a:focus,
a:hover {
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  font-size: 1em;
}

@media only screen and (max-width: 760px) {
  .header-container {
    display: block;
  }

  .header-title {
    display: block;
  }

  .header-loggedin {
    display: block;
    text-align: center;
  }

  .header-navigation .header-username {
    display: block;
    text-align: center;
  }

  .header-username {
    margin-left: 0px;
  }

  .header-navigation a {
    margin-left: 0px;
  }

  .header-navigation a:last-child {
    margin-left: 10px;
  }

  .header-title-link {
    display: block;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
  }

  .header-title {
    margin-bottom: 10px;
  }
}
